:root{
    --heading-cabinet: 'Cabinet Grotesk', sans-serif;
    --paragraph-satoshi: 'Satoshi', sans-serif;
    
    --bold: 700;
    --medium: 600;
    --regular: 400;

    --primary-pure: #FF1919;
    --primary-light: #FF6666;
    --primary-medium: #D40000;
    --primary-dark: #A80000;
    
    --low-pure: #131416;
    --low-light: #A3A3A3;
    --low-medium: #666666;
    --low-dark: #292A2C;

    --high-pure: #FDFEFF;
    --high-low: #E3E5E6;
    --high-medium: #DBDDDE;
    --high-dark: #BBBBBB;

    --line-xs:  115.2%;
    --line-sm:  120%;
    --line-md:  133%;
    --line-lg:  150%;
    --line-xl:  170%;
    --line-xxl: 200%;
    
    --font-xs: 24px;
    --font-sm: 32px;
    --font-md: 48px;
    --font-lg: 72px;
    --font-xl: 96px;
    --font-xxl: 208px;

    --border-circular: 50%


}
body a{
    color: #FFFFFF;
}
body{
    overflow-x: hidden;
    cursor: url("../Assets/Interações/Cursor/CursorStudio.svg"), default;
}
html{
    scroll-behavior: smooth;
}

.ponto__red{
    color: var(--primary-medium);
}
.ponto__white{
    color: var(--high-pure);
}
.stroke{
    -webkit-text-stroke: 1px var(--high-pure);
    color: transparent;
}

.gradient{
    position: relative;
    background:linear-gradient(169.98deg, rgba(101, 101, 101, 0), rgba(75, 75, 75, 0.171875) 21.12%, rgba(35, 35, 35, 0.773646), #0D0D0D);
    height: 40.5rem;
    width: 23rem;
    top: -51.6rem;

    opacity: 0;
    z-index: 10;

}

@keyframes animaInfo {
    to{
        opacity: 1;
        transform: translateY(-10rem)
    }
}

@keyframes opacidadeBG {
    to{
        opacity: 1;
    }
}

@keyframes mudaNome {
    0%{
        position: relative;
        top: -15rem;
    }
    25%{
        animation: paused;
    }
    50%{
        position: relative;
        top: -30rem;
    }
    75%{
        animation: paused;
    }
    100%{
        position: relative;
        top: -45rem;
    }
}

@keyframes movimenta-titulo-1 {
    0%{
        position: relative;
        right: -10%;
    }
    75%{
        animation: paused;
    }
    100%{
        position: relative;
        right: 400%;
    }  
}

@keyframes movimenta-titulo-2 {
    0%{
        position: relative;
        left: -400%;
    }
    35%{
        animation: paused;
    }
    100%{
        position: relative;
        left: 10%;
    }  
}