@media (min-width:0px){
    /*----------------CABECALHO-MENU---------------*/
    .menu__aberto{
        position: fixed;

        height: 100vh;
        width: 100vw;
        
        top: -100vh;
        bottom: 0%;
        z-index: 400000;

        

        padding-top: 3.375rem;
        padding-bottom: 3.688rem;
        padding-left: 4.375rem;
        padding-right: 4.375rem;

        overflow-y:hidden;
        overflow-x:hidden;

        scrollbar-width: thin;
        scrollbar-color: transparent transparent;
        overscroll-behavior: contain;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .menu__aberto::-webkit-scrollbar{
        display: none;
    }
    #menu-aberto{
        overflow-y:hidden;
        overflow-x:hidden;
    }
    .cabecalho__navegacao___menu-aberto{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }
    .botao__fecha___menu-aberto{
        border: none;
        background-color: transparent;

        font-family: var(--paragraph-satoshi);
        font-weight: var(--bold);
        font-size: 15px;
        color: var(--high-pure);
    }

    @keyframes menuDown {
        0%{
            top: -100vh;
            background-color: var(--high-pure);
        }
        100%{
            top: 0;
            background-color: var(--low-pure);
        }
    }

    @keyframes menuUp{
        0%{
            top: 0;
            
            background-color: var(--low-pure);
        }
        100%{
            top: -100vh;
            background-color: var(--high-pure);
        }
    }
    /*----------------LINKS-MENU---------------*/
    .container__navegacao-info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding-left: 4.563rem;
        padding-right: 18.25rem;
    }
    .secao__link-menu{
        display: flex;
        flex-direction: column;
        gap: 2rem;

        width: 26.313rem;

    }
    .link__menu-aberto{
        font-family: var(--paragraph-satoshi);
        font-weight: var(--bold);
        font-size: 3.125rem;
        color: var(--low-light);

        transition: all .1s ease-out;
    }
    .link__menu-aberto:hover{
        color: var(--high-pure);

        transition: all .1s ease-out;
    }
    #link__atual{
        color: var(--high-pure);
    }

    .container__info___menu-aberto{
        display: flex;
        flex-direction: column;
        gap: 2rem;

        width: 24.375rem;
    }
    .info__menu-aberto{
        font-family: var(--paragraph-satoshi);
        font-weight: var(--regular);
        font-size: 1.188rem;

        color: #FFFFFF;

        opacity: .6;
        line-height: 140%;
    }

    /*----------------LINK-CONTATO-MENU---------------*/
    .link__menu-aberto-contato{
        font-family: var(--paragraph-satoshi);
        font-weight: var(--bold);
        font-size: 3.125rem;
        color: var(--low-light);

        transition: all .1s ease-out;

        margin-left: 4.563rem;
    }
    .link__menu-aberto-contato:hover{
        color: var(--high-pure);

        transition: all .1s ease-out;
    }
    /*----------------RODAPE-MENU---------------*/
    .rodape__menu-aberto{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        padding-left: 4.563rem;
        padding-right: 4.375rem;

    }
    .container__localizacao-menu{
        display: flex;
        flex-direction: column;
        gap: 0.438rem;
    }
    .titulo__localizacao-menu{
        font-family: var(--heading-cabinet);
        font-size: 20px;

        color: var(--low-medium);

        margin: 0%;
    }
    .localizacao-menu{
        font-family: var(--heading-cabinet);
        font-size: 30px;

        color: var(--high-pure);

        margin: 0%;
    }
    #animacao__menu-opacity{
       animation: opacidadeMenu .5s ease-in-out forwards;
    }
    .container__ico___redes-sociais-menu{
        display: flex;
        flex-direction: row;
        gap: 1.188rem;
    }
    .link__redes-sociais-menu{
        width: 1.5rem;
        height: 1.5rem;
    }
}
@media (max-width:1024px){
    /*----------------CABECALHO-MENU---------------*/
    .menu__aberto{
        padding-top: 1.25rem;
        padding-bottom: 4.25rem;
        padding-left: 1.25rem;
        padding-right: 2.438rem;
    }
    .botao__fecha___menu-aberto{
        font-size: 12px;
    }
    /*----------------LINKS-MENU---------------*/
    .container__navegacao-info{
        padding-left: 0;
        padding-right: 2rem;

        padding-top: 0;
    }
    .container__info___menu-aberto{
        display: none;
    }
    .secao__link-menu{
        gap: 2.188rem;

        width: 15.188rem;
        
        padding-top: 0;
        padding-bottom: 2.188rem;
        padding-left: 0;
        padding-right: 0;
    }
    .link__menu-aberto{
        font-size: 30px;
    }
    /*----------------CARDS-INDUSTRIAS-MENU---------------*/
    .secao__cards___industrias-menu{
        display: none;
    }
    /*----------------LINK-CONTATO-MENU---------------*/
    .link__menu-aberto-contato{
        font-size: 30px;
        margin-left: 0%;
    }
    .link__menu-aberto-contato:hover{
        color: var(--high-pure);

        transition: all .1s ease-out;
    }
    /*----------------RODAPE-MENU---------------*/
    .rodape__menu-aberto{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 4.875rem;

        padding-left: 0;
        padding-right: 0;

    }
    .titulo__localizacao-menu{
        font-size: 20px;
    }
    .localizacao-menu{
        font-size: 25px;
    }
}
@media (min-width:1600px) {
    .rodape__menu-aberto{

        padding-left: 4.563rem;
        padding-right: 4.375rem;

    }
}

@media (min-width:1024px) and (max-height: 700px) {
    .secao__link-menu{
        gap: 1rem;
    }
    .menu__aberto{
        padding-bottom: .888rem;
    }
}