@media (max-width:1024px){
    /*-------------------------------CABECALHO--------------------------------*/
    .cabecalho{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    
    .logo-studio{
        margin: 0%;
    }
    .container__nav{
        margin: 0%;
    }
    .container__nav{
        gap: 1.125rem;
    }
    /*-------------------------------BANNER--------------------------------*/
    .banner{
        padding: 11.25rem 2.188rem 3.75rem 2.25rem;

        gap: 1.875rem;
    }
    .titulo__banner{
        font-size: 40px;
    }
    .container__botao-banner {
        width: 90vw;
        padding-right: 0%;
    }
    .botao__view-cases___banner{
        width: 90vw;
    }
    /*--------------------------METODOLOGIA---------------------------*/
    .metodologia{
        padding: 5.75rem 0 3.688rem 0;

        align-items: flex-start;
        gap: 6.25rem;

    }
    .imagem__metodologia{
        background-image: url("../../Assets/SobreNos/banner-oquefazer-mobile.png");
        background-position-x: center;

        width: 90vw;
        height: 17.25rem;

        background-size: 90vw auto;
    }
    .container__lista___metodologia{
        align-items: flex-start;
        gap: 3.75rem;

        margin-left: 1.813rem;
    }
    .titulo__metodologia{
        font-size: var(--font-xs);
    }
    .lista__metodologia{
        flex-direction: column;
        gap: 3.75rem;

        padding-left: 0%;
        margin-top: 0%;    
    }
    /*-----------------------NUMEROS-PROJETOS--------------------------*/
    .secao__numeros-projeto{
        flex-direction: column;
        align-items: flex-start;
        gap: 3.75rem;

        padding: 3.75rem 10.813rem 3.75rem 1.375rem;
    }
    .titulo__numeros-projetos{
        font-size: var(--font-xs);

        align-self: flex-start;

        margin-top: 0;
        
    }
    .secao__numeros-projetos{
        flex-direction: column;
        gap: 1.875rem;
    }
    .imagem__numeros-projeto{
        width: 100vw;
        height: 10.438rem;

        background-size: 90vw 10.438rem;

        margin-bottom: 3.75rem;
    }
    /*------------------------------CLIENTES-PROJETOS-------------------*/
    .titulo__clientes{
        padding-left: 5vw;
        padding-bottom: 0;

        font-size: 16px;
    }
    .cliente-projetos{
        padding-left: 1.25rem;
        padding-right: 1.5rem;

        padding-top: 3.563rem;

        justify-content: center;
    }
    .container__card___cliente-projetos{
        width: 20.688rem;
        height: 13rem;
    }
    .botao__case___cliente-projeto{
        width: auto;
    }
    .titulo__card___cliente-projeto{
        font-size: 24px;
    }
    .descricao__card___cliente-projeto{
        font-size: 16px;
        margin-bottom: 2.969rem;
    }
    #card-incompleto{
        height: 10.5rem;
        margin-bottom: 0%;
    }
    /*-----------------------COMENTARIOS----------------------------*/
    .secao__comentarios{
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 3.75rem;

        height: 47rem;
    }
    .lista__comentarios{
        transition: all .2s ease-in-out;
        width: 180vw;
    }
    .item__lista___comentarios{
        margin-bottom: 6.938rem;
    }
    .cabecalho__comentarios{
        bottom: -1.35rem;
    }
    .container__carousel{
        width: 90vw;
        height: 54rem;    
    }
    .comentario{
        font-size: var(--font-sm);
        padding-right: 0%;
        width:90vw;
    }
    .icone__perfil___comentario{
        width: 2.5rem;
        height: 2.5rem;
    }
    .nome__perfil___comentario{
        font-size: 20px;
    }
    .container__botao___comentario{
        width: 90vw;
        gap: 2rem;
        margin-top: 2rem;
    }
    .botao__anterior___comentario, .botao__proximo___comentario{
        width: 44.5vw;
    }
    /*----------------------RODAPE----------------------*/
    .rodape{
        height: auto;
        margin-top: 4rem;
    }
    .secao__info___rodape{
        height: auto;
        flex-direction: column;
        border: none;
        padding-bottom: 0%;
        padding-left: 0;
    }
    .secao__titulo___rodape{
        flex-direction: column;
        padding-left: 0;
        padding-right: 1.5rem;
        width: 90vw;
    }
    .titulo__rodape{
        padding-right: 2.6rem;
    }
    .botao__talk___footer{
        width: 14.625rem;
        margin-top: 2.9rem;
    }
    .redes__sociais___rodape{
        gap: 0%;
        justify-content: space-between;
        padding-left: .5rem;
        padding-right: .5rem;
    }
    .link__redes-sociais___mobile{
        display: block;
        width: 1.5rem;
        height: 1.5rem;
    }
    .abas__footer{
        flex-direction: column;
        padding-bottom: 0%;
        padding-left: 0;
        padding-top: 3rem;
        width: 90vw;
    }
    .container__abas{
        flex-direction: column-reverse;
        padding-left: 0%;
        gap: 0%;
        border-bottom: 1px solid var(--low-pure);
        padding-bottom: 3.125rem;
        margin-top: 2.5rem;
    }
    .aba{
        height: 10.688rem;
    }
    .secao__brand{
        width: 90vw;
        padding-top: 2rem;
        padding-bottom: 2.313rem;
    } 
    .container__ico___redes-sociais{
        display: none;
    }
    .container__ico___redes-sociais-mobile{
        display: flex;
        gap: .5rem;
    }
    .link__redes-sociais{
        visibility: hidden;
    }
    .link__fim{
        margin-top: 4rem;
    }
    
}

@media (min-width:768px) and (max-width:1024px){
    /*-------------------------------BANNER--------------------------------*/
    .titulo__banner{
        font-size: var(--font-md);
    }
    .imagem__metodologia{
        background-image: url("../../Assets/SobreNos/banner-oquefazer.png");
        background-size: 35rem 22.25rem;

        height: 22.25rem;
    }
    /*--------------------------METODOLOGIA---------------------------*/
    .container__lista___metodologia {
        align-items: flex-start;
        gap: 4.75rem;
        margin-left: 2.813rem;
    }
    .titulo__metodologia{
        font-size: var(--font-sm);
    }
    /*-----------------------NUMEROS-PROJETOS--------------------------*/
    .secao__numeros-projeto{
        gap: 3.75rem;

        padding: 3.75rem 10.813rem 3.75rem 2.813rem;
    }
    .titulo__numeros-projetos{
        font-size: var(--font-sm);
    }
    .secao__numeros-projetos{
        flex-direction: row;
        gap: 2.875rem;
    }
    .imagem__numeros-projeto{
        height: 21.438rem;

        background-size: 90vw 21.438rem;
    }
    /*-----------------------INDUSTRIAS-------------------------*/
    .industrias{
        gap: 3.75rem;

        padding: 0 2.75rem 0 2.813rem;
    }
    .titulo__industrias{
        font-size: var(--font-sm);
    }
    .secao__cards___industrias{
        gap: 3.875rem;
        height: 48rem;  
    }
    /*-----------------------COMENTARIOS----------------------------*/
    .secao__comentarios{
        padding-left: 2.813rem;
    }
    .botao__anterior___comentario, .botao__proximo___comentario{
        width: 47vw;
    }

    .secao__comentarios{
        height:54rem;
    }
    .item__lista___comentarios{
        height: 21rem;
    }
    .container__carousel{
        height: 26rem;
    }
    /*------------------------------RODAPE-------------------------*/
    .secao__titulo___rodape{
        padding-left: 0%;
        width: 90vw;
    }
    .secao__info___rodape{
        padding-left: 0rem;
    }
    .abas__footer{
        padding-left: 0%;
    }
    .newsletter{
        background-position-y: top;
        background-position-x: 2.7rem;
        padding-top: 31.5rem;
        background-size: 28rem 28rem;

        height: 47rem;
    }

    .rodape{
        height: 71.5rem;
    }

    .secao__info___rodape{
        padding-bottom: 0%;
        margin-bottom: 3rem;
        height: 57rem;
    }
    .secao__titulo___rodape{
        padding-left: 0%;
    }
    .container__abas{
        padding-bottom: 9.125rem;
    }

    .titulo__rodape{
        font-size: 60px;
    }
    .botao__talk___footer{
        width: 14.625rem;
    }

    .titulo__aba{
        font-size: var(--font-sm);
    }
    .item__aba{
        font-size:var(--font-xs);
    }
    .aba{
        height: 13.688rem;
        width: 12.5rem
    }
    .secao__brand{
        padding-top: 0;
    }
    .titulo__brand{
        font-size: 20px;
    }

}

@media (min-width:1025px) and (max-width:1355px){
    /*-----------------------INDUSTRIAS-------------------------*/
    .industrias {
        padding: 0 10.188rem 0 9.5rem;
    }
    .titulo__industrias{
        font-size: var(--font-sm);
    }
    .secao__cards___industrias{
        gap: 3.875rem;
        height: 40rem; 
    }
    /*----------------------------COMENTARIO-----------------*/
    .comentario {
        padding-right: 2.417rem;
    }
    .item__lista___comentarios{
        height: 54rem;
    }
    /*-----------------------RODAPE----------------------------------*/
    .secao__titulo___rodape {
        width: 45vw;
        display: flex;
        flex-direction: column;
    }
    .secao__brand {
        width: 78vw;
    }
}

@media (min-width:1600px) {
    /*------------------NUMEROS-PROJETO-------------------*/
    .secao__numeros-projeto {
        padding: 8.125rem 12.5rem 8.125rem 12.5rem;
    }
    /*-----------------CLIENTES-----------*/
    .titulo__clientes{
        padding-left: 9.5vw;
    }
    .container__card___cliente-projetos{
        height: 16.125rem;
        justify-content: space-between;
    }
    .cliente-projetos{
        gap: 5rem;

        padding-left: 9.5vw;
    
    }
    /*-------------------------------COMENTARIO--------------------*/
    .secao__comentarios{
        padding-left: 12.5rem;
        padding-right: 4.5rem;
    }
    /*-----------------------RODAPE----------------------------------*/
    .secao__info___rodape{
        width: 80vw;
     }
     .secao__brand{
        width: 80vw;
    }
}