@media (min-width:0px){
    .secao__numeros-projetos {
        display: flex;
        flex-direction: row;
        gap: 3.5rem;
    }
    .secao__sobre-projeto {
        padding: 8.125rem 9.5rem  8.125rem 9.5rem;
    }
    .titulo__menu{
        color: #FF4F45;
    }
    .traducao-pagina-pt{
        color: #FF4F45;
    }
    #video-sobre-projeto-fox{
        width: 79.5vw;
    }
    #video-sobre-projeto-fox-2{
        width: 79.5vw;
    }
    .secao__videos___fox-play{
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 2rem;

        width: 100vw;
    }
    #imagem-did{
        width: 79.5vw;
        height: auto;

        padding-bottom: 4.125rem;
    }
    #imagem-sobre-projeto{
        width: 79.5vw;
        height: auto;
        padding-bottom: 0%;
    }
    #imagem-banner{
        width: 100vw;
        height: auto;
    }
    .container__imagem-numeros{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    #imagem-numeros{
        width: 79.5vw;
        height: auto;

        display: flex;
        align-self: center;
    }
    .container__imagem-menu-principal{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        gap: 2rem;

        padding-bottom:  4.125rem;

        border-bottom: 1px solid #C4C4C4;
    }
    .container__imagens-duplas{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: center;

        width: 79.2vw;
    }
    #imagem__menu-principal{
        width: 38.5vw;
        height: auto;
    }
    #imagem__menu-principal-3{
        width: 79.5vw;
        height: auto;
    }
    #imagem-proximo-projeto{
        width: 100vw;
        height: auto;
    }

    #link__sobre-app-sell.it{
        visibility: hidden;
    }
    #link__sobre-app-vivaz{
        visibility: hidden;
    }
    .subtitulo__mobile{
        display: none;
    }
    .titulo__banner{
        color: #FF4F45;
    }
    .numero-projetos{
        color: #FF4F45;
    }
    
}
@media (max-width:1024px){
    #video-sobre-projeto-fox {
        width: 90vw;
    }
    #video-sobre-projeto-fox-2{
        width: 90vw;
    }
    .secao__videos___fox-play{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .titulo__menu-principal {
        font-size: 24px;
        line-height: 150%;
    }
    .titulo__did{
        font-size: 24px;
    }
    .container__titulo___sobre-projeto {
        flex-direction: column;
        padding-left: 0rem;
    }
    .secao__sobre-projeto {
        padding: 4.375rem 0 0 1.25rem;
    }
    #imagem-did{
        width: 90vw;
        height: auto;
    }
    #imagem-sobre-projeto{
        width: 90vw;
        height: auto;

        padding-bottom: 0%;
    }
    #imagem-banner{
        width: 100vw;
        height: auto;
    }
    .container__imagem-numeros{
        gap: 1rem;
    }
    #imagem-numeros{
        width: 90vw;
        height: auto;

    }
    .container__imagem-menu-principal{
        padding-bottom: 4.125rem;
        gap: 1rem;
    }
    #imagem__menu-principal{
        width: 43vw;
        height: auto;
    }
    #imagem__menu-principal-3{
        width: 90vw;
    }
    .container__imagens-duplas{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;

        width: 90vw;
    }
    #imagem-proximo-projeto{
        width: 100vw;
        height: auto;
    }
    .titulo__sobre{
        margin-top: 1.375rem;
    }
    /*------------------------NUMERO-PROJETOS-------------------------*/
    #link__sobre-app-vivaz{
        visibility: hidden;
    }
    .subtitulo__mobile{
        display: none;
    }
}
@media (min-width:1600px){
    .container__imagens-duplas {
        width: 79.7vw;
    }
    #imagem__menu-principal{
        width: 39.8vw;
        height: auto;
    }
}