@media (min-width:0px){
    .titulo__banner{
        color: #ffc72c;
    }
    .numero-projetos {
        color: #ffc72c;
    }
    .titulo__menu{
        color: #ffc72c;
    }
    .traducao-pagina-pt{
        color: #ffc72c;
    }
    .imagem__did {
        padding-bottom: 2rem;
        border-bottom: none;
    }
    .secao__sobre-projeto {
        gap: 2rem;
        padding: 0rem 9.5rem 0 9.5rem;
    }
    .secao__menu-principal {
        gap: 2rem;
        padding: 2rem 0 8.125rem 0;
    }
    #imagem-did{
        width: 79.2vw;
        height: auto;
    }
    #imagem-sobre-projeto{
        width: 79.2vw;
        height: auto;
    }
    #imagem-banner{
        width: 100vw;
        height: auto;
    }
    .container__imagem-numeros{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .container__imagens-duplas{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: center;

        width: 79.2vw;
    }
    #imagem-numeros{
        width: 79.2vw;
        height: auto;

        display: flex;
        align-self: center;
    }
    #imagem-numeros-duplo{
        width: 38.5vw;
        height: auto;
    }
    .container__imagem-menu-principal{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        gap: 2rem;

        padding-bottom:  2rem;
    }
    #imagem__menu-principal{
        width: 79.2vw;
        height: auto;
    }
    #imagem__menu-principal-dupla{
        width: 37.8vw;
        height: auto;
    }
    #imagem-proximo-projeto{
        width: 100vw;
        height: auto;
    }

    #link__sobre-app-sell.it{
        visibility: hidden;
    }
    .subtitulo__mobile{
        display: none;
    }
}
@media (max-width:1024px){
    .titulo__did{
        font-size: 24px;
    }
    #imagem-did{
        width: 90vw;
        height: auto;
    }
    #imagem-sobre-projeto{
        width: 90vw;
        height: auto;
        padding-bottom: 0rem;
    }
    #imagem-banner{
        width: 100vw;
        height: auto;
    }
    .container__imagens-duplas{
        width: 90vw;
        gap: 1rem;
    }
    #imagem-numeros-duplo{
        width: 43vw;
        height: auto;
    }
    .container__imagem-numeros{
        gap: 1rem;
    }
    #imagem-numeros{
        width: 90vw;
        height: auto;

    }
    .secao__menu-principal {
        gap: 1rem;
        padding: 2rem 0 0rem 0;
    }
    .container__imagem-menu-principal{
        padding-bottom: 0rem;
        gap: 1rem;
    }
    #imagem__menu-principal-dupla {
        width: 42vw;
        height: auto;
      }
    #imagem__menu-principal{
        width: 90vw;
        height: auto;
    }
    #imagem-proximo-projeto{
        width: 129vw;
        height: auto;
    }
    .titulo__sobre{
        margin-top: 1.375rem;
    }
    /*------------------------NUMERO-PROJETOS-------------------------*/
    #link__sobre-app-vivaz{
        visibility: hidden;
    }
    .subtitulo__mobile{
        display: none;
    }
}