@media (min-width:0px){
    #input__form-contato-gsth{
        display: block;
    }
    /*-------------------------------CABECALHO--------------------------------*/
    .cabecalho{
        display: flex;
        justify-content: space-between;
        position: fixed;
        width: 100vw;
        height: 7rem;
        
        padding: 2rem 9.5rem;
        
        font-family: var(--paragraph-satoshi);

        border-bottom: 1px solid var(--high-low);

        background-color: var(--high-pure);
        z-index: 1000;
        transition: all .4s ease-in-out;

        opacity: 1;
    }
    .container__nav{
        display: flex;
        gap: 7.125rem;
        background-color: var(--high-pure);
        transition: all .4s ease-in-out;
    }
    .container__menu{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        padding: .5rem 0;

        background-color: transparent;
        
        border: none;
        background-color: var(--high-pure);
        transition: all .4s ease-in-out;
    }
    .container__botao___menu{
        display: flex;
        flex-direction: row;
        gap: 0.813rem;
    }
    .titulo__menu{
        font-family: var(--paragraph-satoshi);
        font-weight: 500;
        font-size: 16px;

        margin: 0%;
        margin-top: .9rem;

        cursor: pointer;
    }
    .container__traducao-pagina{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
    .traducao-pagina-pt{
        color: var(--low-pure);

        font-weight: 500;
    }
    .traducao-pagina-en{
        color: var(--high-dark);

        font-weight: 500;
    }
    /*-------------------------------BANNER--------------------------------*/
    .banner{
        padding: 14.5rem 10.313rem 7.5rem 9.5rem;
        margin-top:0%;
        background-color: var(--high-pure);
    }
    .titulo__banner{
        font-size: var(--font-xxl);
        font-family: var(--heading-cabinet);
        font-weight: var(--bold);
        line-height: var(--line-sm);

        color: var(--low-pure);
        padding: 0%;
        margin: 0%;
    }
    /*-------------------------------MAPA--------------------------------*/
    .mapa{
        width: 100vw;
        height: 54.961rem;

        background-image: url("../../Assets/SobreNos/mapa.svg");
        background-repeat: no-repeat;
        background-size: 100vw, 10vh;
    }
    /*-------------------------------INTRO--------------------------------*/
    .intro{
        background-color: var(--low-pure);
        width: 100vw;

        padding-left: 9.625rem;
        padding-right: 9.625rem;
        padding-top: 13.125rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 14.625rem;
    }
    .container__info___intro{
        display: flex;
        color: var(--high-pure);
        justify-content: center;
        gap: 9.625rem;
    }
    .titulo__intro{
        font-size: var(--font-lg);
        font-family: var(--heading-cabinet);
        font-weight: var(--bold);

        margin: 0%;
    }
    .descricao__intro{
        margin: 0%;
    }
    .sub-descricao__intro{
        margin: 0%;
    }
    .container__descricao___info{
        width: 25rem;
        font-family: var(--paragraph-satoshi);
        font-weight: var(--regular);
        line-height: var(--line-sm);
        opacity: .7;
        font-size: 20px;

        margin: 0%;
    
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .descricao__mobile{
        display: none;
    }
    .banner__intro-1{
        display: flex;
        justify-content: center;
    }

    .banner__intro-3{
        width: 50.625rem;
        height: 59.125rem;

        background-image: url("../../Assets/SobreNos/img-1.png"), url("../../Assets/SobreNos/img-2.png"), url("../../Assets/SobreNos/img-3.png");
        background-repeat: no-repeat;
        background-position-x: left, right, center;
        background-position-y: top, 8.625rem, bottom;
    }

    .banner__intro-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2rem;

        width: 36.375rem;
    }
    .titulo__banner___intro{
        font-size: var(--font-lg);
        font-family: var(--heading-cabinet);
        font-weight: var(--bold);
        color: var(--high-pure);

        margin: 0%;
        margin-bottom: 1.5rem;
    }
    .container__descricao___banner-1{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .titulo__banner___intro-2{
        font-size: 1.188rem;
        font-family: var(--heading-cabinet);
        font-weight: var(--bold);
        color: var(--high-pure);

        margin: 0%;

        opacity: .8;
    }
    .descricao__banner___intro{
        margin: 0%;

        font-family: var(--paragraph-satoshi);
        font-weight: var(--regular);
        color: var(--high-pure);

        line-height: var(--line-sm);

        opacity: .7;
        font-size: 1.188rem;
    }
    /*-------------------------------PATROCINADORES--------------------------------*/
    .secao__patrocinadores{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        padding-bottom: 9.563rem;
        padding-top: 9.5rem;

        font-family: var(--heading-cabinet);
        font-weight: var(--bold);
        color: var(--high-pure);
        background-color: var(--low-pure);
    }
    .titulo__patrocinadores{
        font-size: 16px;
        margin-bottom: 5.5rem;
    }
    .titulo__patrocinadores::selection{
        background-color: var(--high-pure);
        color: var(--low-pure);
    }
    .container__logo___patrocinadores{
        display: flex;
        flex-direction: row;
        gap: 6rem;
    }
    .container__patrocinadores{
        display: flex;
        flex-direction: column-reverse;
        gap: 4rem;
    }
    /*-------------------------------O-QUE-FAZEMOS--------------------------------*/
    .do{
        background-color: var(--low-pure);
        display: flex;
        flex-direction: column;

        padding-top: 14.625rem;
        
        gap: 5.125rem;
    }
    .container__info___do{
        padding-left: 9.438rem;
        
        width: 42.188rem;

        display: flex;
        flex-direction: column;
        gap: 3.5rem;

        margin-bottom: 8rem;
    }
    .titulo__do{
        font-family: var(--heading-cabinet);
        font-size: var(--font-lg);
        font-weight: var(--bold);
        color: var(--high-pure);

        margin: 0%;
    }
    .descricao__do{
        font-family: var(--paragraph-satoshi);
        font-weight: var(--regular);
        line-height: var(--line-sm);
        color: var(--high-pure);
        opacity: .7;
        font-size: 20px;

        margin: 0%;
    }
    .banner__do{
        background-image: url("../../Assets/SobreNos/banner-oquefazer.png");
        background-repeat: no-repeat;

        display: flex;
        align-self: center;

        width: 57.625rem;
        height: 42.425rem;
    }
    .botao__explore{
        width: 78vw;
        text-align: start;
        color: var(--high-pure);
        font-family: var(--heading-cabinet);
        font-weight: var(--medium);

        padding-bottom: 1.656rem;

        background-color: transparent;
        border: none;

        background-image: url("../../Assets/Setas/Right-Down-White.svg");
        background-repeat: no-repeat;
        background-position-x: 100%;

        display: flex;
        align-self: center;

        border-bottom: 2px solid var(--high-pure);

        transition: all .2s ease-in-out;
    }
    .botao__explore:hover{
        color: var(--primary-pure);
        border-bottom: 2px solid var(--primary-medium);
        background-image: url("../../Assets/Setas/Right-Down-Red.svg");

        transition: all .2s ease-in-out;
    }
    /*-------------------------------TIME--------------------------------*/
    .time{
        background-color: var(--low-pure);
        display: flex;
        flex-direction: column;
        gap: 9rem;

        padding-top: 13.125rem;
        padding-bottom: 16.125rem;
    }
    
    .info__time{
        padding-left: 9.438rem;
        width: 40.188rem;
        
        color: var(--high-pure);
    }
    .titulo__info___time{
        font-family: var(--heading-cabinet);
        font-size: var(--font-lg);
        font-weight: var(--bold);
    }
    .descricao__info___time{
        font-family: var(--paragraph-satoshi);
        font-weight: var(--regular);
        line-height: var(--line-sm);
        opacity: .7;
        font-size: 20px;

        margin-top: 3.5rem;
    }
    .container__time-studio{
        width: 29rem;
        height: 32.75rem;
    }
    .imagem__time{
        width: 29rem;
        height: 32.75rem;
    }
    .time-studio{
        display: flex;
        flex-direction: row;
        align-self: center;
        gap: 13.125rem;

        font-family: var(--heading-cabinet);
        color: var(--high-pure);
        font-size: var(--font-xs);
    }
    .time-studio-1{
        display: flex;
        flex-direction: column;
        gap: 22.625rem;
    }
    .time-studio-2{
        display: flex;
        flex-direction: column;
        gap: 22.625rem;
        padding-top: 16.375rem;
    }
    .nome__time-studio{
        margin-top: 1.625rem;
    }
    .time-studio__mobile{
        display: none;
    }
    /*------------------------------COMENTARIO-------------------------------*/
    .secao__comentarios{
        height: 57rem;

        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        padding-top: 15.938rem;
        padding-left: 9.5rem;
        padding-right: 9.5rem;
        background-color: var(--high-pure);
        
    }
    .cabecalho__comentarios{
        font-family: var(--heading-cabinet);
        font-weight: var(--bold);
        font-size: var(--font-xs);

        position: relative;
        bottom: -1rem;
    }
    .container__carousel{
        width: 79vw;
        height: 44rem;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .lista__comentarios{
        width: 237vw;
        height: 36rem;

        display: flex;
        flex-direction: row;
        overflow-x: hidden;

        transition: all .4s ease-out;
    }
    .item__lista___comentarios{
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin-bottom: 9.938rem;
    }
    .numeracao__comentario{
        align-self: flex-end;

        font-family: var(--heading-cabinet);
        font-weight: var(--bold);
        font-size: 16px;
    }
    .comentario{
        width: 79vw;

        padding-top: 3.5rem;
        padding-right: 23.417rem;
        margin-top: 5.688rem;
        margin-bottom: 3.5rem;
        
        font-family: var(--heading-cabinet);
        font-weight: var(--bold);
        font-size: var(--font-md);

        background-image: url("../../Assets/Home/aspas.png");
        background-repeat: no-repeat;     
    }
    .perfil__comentario{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
    .icone__perfil___comentario{
        width: 3.5rem;
        height: 3.5rem;
        border-radius: var(--border-circular);
    }
    .nome__perfil___comentario{
        font-family: var(--heading-cabinet);
        font-weight: var(--bold);
        font-size: var(--font-xs);
    }
    .descricao__perfil___comentario{
        font-family: var(--paragraph-satoshi);
        color: var(--low-medium);
        font-weight: var(--regular);
        margin-bottom: 0%;
        margin-top: 0%;
    }
    .container__botao___comentario{
        width: 79vw;
        
        display: flex;
        gap: 1rem;
    }
    .botao__anterior___comentario{
        width: 39.5vw;
        
        border: none;
        border-bottom: 2px solid var(--low-pure);
        
        padding-bottom: 2.208rem;

        background-color: transparent;
        background-image: url("../../Assets/Setas/Left.svg");
        background-repeat: no-repeat;

        transition: all .1s ease-in-out;
    }
    .botao__anterior___comentario:active{        
        transition: all .1s ease-in-out;

        transform: scaleX(0.98);

        border-bottom: 2px solid var(--high-pure);
    }
    .botao__proximo___comentario{
        width: 39.5vw;
        
        border: none;
        border-bottom: 2px solid var(--low-pure);
        
        padding-bottom: 1.656rem;

        background-color: transparent;
        background-image: url("../../Assets/Setas/Right.svg");
        background-repeat: no-repeat;
        background-position-x: right;
        transition: all .3s ease-in-out;
    }
    .botao__proximo___comentario:active{        
        transition: all .1s ease-in-out;

        transform: scaleX(0.98);

        border-bottom: 2px solid var(--high-pure);
    }
    /*-------------------------------RODAPE--------------------------------*/
    .rodape{
        width: 100vw;
        background-color: var(--high-pure);
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 9rem;
    }
    .secao__info___rodape{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 25rem;

        padding-bottom: 10.813rem;

        border-bottom: 1px solid var(--low-medium);
    }
    .secao__titulo___rodape{
        width: 50vw;
        display: flex;
        flex-direction: column;

    }
    .titulo__rodape{
        font-family: var(--heading-cabinet);
        font-weight: var(--bold);
        font-size: var(--font-md);
        color: var(--low-pure);
    }
    #titulo__rodape-2{
        color: var(--low-light);
    }
    .container__botao-footer{
        padding-right: 3rem;
        padding-top: 0rem;
        display: flex;
        width: 17.625rem;
        justify-content: flex-start;
    }
    .container__botao-footer:hover .botao__talk___footer{
        color: var(--primary-pure);
        border-bottom: 2px solid var(--primary-medium);
        background-image: url("../../Assets/Setas/Right-Down-Red.svg");

        transition: all .2s ease-in-out;
    }
    .botao__talk___footer{
        color: var(--low-pure);
        font-family: var(--heading-cabinet);
        font-weight: var(--bold);

        background-image: url("../../Assets/Setas/Right-Down-Black.svg");
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: -.2rem;

        width: 14.625rem;
        margin-top: 2rem;
        padding-bottom: .5rem;

        border-bottom: 2px solid var(--low-pure);
    }
    .botao__talk___footer:hover{
        color: var(--primary-pure);
        border-bottom: 2px solid var(--primary-medium);
        background-image: url("../../Assets/Setas/Right-Down-Red.svg");

        transition: all .2s ease-in-out;
    }
    .redes__sociais___rodape{
        display: flex;
        align-items: center;
        gap: 2.813rem;   
    }
    .hashtag__footer{
        font-family: var(--heading-cabinet);
        font-weight: 500;
        color: var(--high-pure);
    }
    .patrocinadores__rodape{
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .abas__footer{
        display: flex;
        justify-content: center;
        padding-top: 6rem;
        padding-bottom: 1rem;
    }
    .container__abas{
        display: flex;
        flex-direction: row;
        gap: 10.313rem;
    }
    .aba{
        display: flex;
        flex-direction: column;
        height: 14.5rem;
        width: 8.5rem;
    }
    .titulo__aba{
        font-family: var(--paragraph-satoshi);
        font-weight: var(--bold);
        color: var(--low-pure);
        margin-bottom: 1.5rem;
    }
    .item__aba{
        font-family: var(--paragraph-satoshi);
        font-weight: var(--regular);
        color: var(--low-medium);
        margin-bottom: 1rem;
    
        transition: all .1s ease-in-out;
    }
    .item__aba:hover{
        color: var(--low-pure);
        transition: all .1s ease-in-out;    
    }
    .secao__brand{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 71rem;
        justify-content: space-between;
        
        font-family: var(--heading-cabinet);
        font-style: normal;
        font-weight: var(--bold);

        padding-top: 2.938rem;
        padding-bottom: 6.625rem;
    }
    .container__ico___redes-sociais{
        display: flex;
        flex-direction: row;
        gap: 1.188rem;
    }
    .link__redes-sociais, .icone__redes{
        width: 1.5rem;
        height: 1.5rem;
    }
    .container__ico___redes-sociais-mobile{
        display: none;
    }
    .link__redes-sociais___mobile{
        display: none;
    }
}   