@media (max-width:1024px){
    /*-------------------------------CABECALHO--------------------------------*/
    .cabecalho{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    
    .logo-studio{
        margin: 0%;
    }
    .container__nav{
        margin: 0%;
    }
    .container__nav{
        gap: 1.125rem;
    }
    /*-------------------------------BANNER--------------------------------*/
    .secao__banner{
        padding: 11rem 0 0 .938rem ;
        margin-top:0%;

        flex-direction: column;
        justify-content: center;

        margin-bottom: 3.75rem;
    }
    .titulo__banner{
        font-size: 40px;
        line-height: 100%;

        margin-bottom: 2rem;

        width: 20.688rem;
    }
    .container__subtitulo___banner{
        width: 19rem;
        
        font-family: var(--paragraph-satoshi);
    }
    .subtitulo__banner{
        font-weight: 400;
        font-size: 16px;
        
        line-height: 140%;
        
        opacity: .7;
    }
     /*---------------------FORMAS-CONTATO-----------------------*/
     .formas-contato{
        flex-direction: column;
        gap: 4.431rem;
    }
    .imagem__formas-contato{
        height: 14.25rem;
        width: 90vw;
        background-size: 90vw 14.25rem;
    }
    /*----------------------RODAPE----------------------*/
    .rodape{
        height: auto;
        margin-top: 4rem;
    }
    .secao__info___rodape{
        height: auto;
        flex-direction: column;
        border: none;
        padding-bottom: 0%;
    }
    .secao__titulo___rodape{
        flex-direction: column;
        padding-left: 0;
        padding-right: 1.5rem;
        width: 90vw;
    }
    .titulo__rodape{
        padding-right: 2.6rem;
    }
    .botao__talk___footer{
        width: 14.625rem;
        margin-top: 2.9rem;
    }
    .redes__sociais___rodape{
        gap: 0%;
        justify-content: space-between;
        padding-left: .5rem;
        padding-right: .5rem;
    }
    .link__redes-sociais___mobile{
        display: block;
        width: 1.5rem;
        height: 1.5rem;
    }
    .abas__footer{
        flex-direction: column;
        padding-bottom: 0%;
        padding-left: 0;
        padding-top: 3rem;
        width: 90vw;
    }
    .container__abas{
        flex-direction: column-reverse;
        padding-left: 0%;
        gap: 0%;
        border-bottom: 1px solid var(--low-pure);
        padding-bottom: 3.125rem;
        margin-top: 2.5rem;
    }
    .aba{
        height: 10.688rem;
    }
    .secao__brand{
        width: 90vw;
        padding-top: 2rem;
        padding-bottom: 2.813rem;
    } 
    .container__ico___redes-sociais{
        display: none;
    }
    .container__ico___redes-sociais-mobile{
        display: flex;
        gap: .5rem;
    }
    .link__redes-sociais{
        visibility: hidden;
    }
    .link__fim{
        margin-top: 4rem;
    }

    .newsletter{
        height: 52rem;
    }

}
@media (min-width:768px) and (max-width:1024px){
    /*-------------------------------BANNER--------------------------------*/
    .titulo__banner{
        font-size: var(--font-xl);
        
        width: 40.688rem;
    }
    .container__subtitulo___banner{
        width: 44rem;
    }
    .subtitulo__banner{
        font-weight: 400;
        font-size: var(--font-xs);
    }
    /*---------------------FORMAS-CONTATO-----------------------*/
    .imagem__formas-contato{
        height: 25.25rem;
        width: 90vw;
        background-size: 90vw 25.25rem;
    }
    /*------------------------------RODAPE-------------------------*/
    .secao__titulo___rodape{
        padding-left: 0%;
        width: 90vw;
    }
    .secao__info___rodape{
        padding-left: 0rem;
    }
    .abas__footer{
        padding-left: 0%;
    }
    @keyframes movimenta-titulo-1 {
        0%{
            position: relative;
            right: 10%;
        }
        75%{
            animation: paused;
        }
        100%{
            position: relative;
            right: 350%;
        }  
    }
    
    @keyframes movimenta-titulo-2 {
        0%{
            position: relative;
            left: -350%;
        }
        35%{
            animation: paused;
        }
        100%{
            position: relative;
            left: 10%;
        }  
    }

    .newsletter{
        background-position-y: top;
        background-position-x: 2.7rem;
        padding-top: 31.5rem;
        background-size: 28rem 28rem;

        height: 47rem;
    }

    .rodape{
        height: 71.5rem;
    }

    .secao__info___rodape{
        padding-bottom: 0%;
        margin-bottom: 3rem;
        height: 57rem;
    }
    .secao__titulo___rodape{
        padding-left: 0%;
    }
    .container__abas{
        padding-bottom: 9.125rem;
    }

    .titulo__rodape{
        font-size: 60px;
    }
    .botao__talk___footer{
        width: 60vw;
    }

    .titulo__aba{
        font-size: var(--font-sm);
    }
    .item__aba{
        font-size:var(--font-xs);
    }
    .aba{
        height: 13.688rem;
        width: 12.5rem
    }
    
    .secao__brand{
        padding-top: 0;
    }
    .titulo__brand{
        font-size: 20px;
    }
}
@media (min-width:1600px){
    /*---------------------FORMAS-CONTATO-----------------------*/
    .imagem__formas-contato{
        height: 47.25rem;
        width: 84vw;
        background-size: 90vw 47.25rem;
    }
   /*-----------------------RODAPE----------------------------------*/
    .secao__info___rodape{
        width: 80vw;
    }
    .secao__brand{
       width: 80vw;
    }
    /*-------------------------------COMENTARIO--------------------*/
    .secao__comentarios{
        padding-left: 12.5rem;
        padding-right: 4.5rem;
    }
}