@media (max-width:1024px){ 
    html{
        overflow-x: hidden;
    }
    .cabecalho{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .traducao__pagina{
        visibility: hidden;
    }

    .banner{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 14.875rem;
    }
    .titulo__banner{
        font-size: var(--font-md);
    }

    .secao__video{
        height: 21.375rem;
        width: 100vw;
    }
    .video{
        width: 150vw;
        height: 100vh;
        position: none;
    }
    .botao__desmuta, .botao__muta{
        top: -1.5rem;
        left: center;
        width: 2.5rem;
        height: 2.5rem;
    }
    .imagem__desmuta, .imagem__muta{
        width: 2.5rem;
        height: 2.5rem;
        opacity: .5;
    }

    .secao__passion{
        padding-top: 10.438rem;
        padding-left: 1.25rem;
        padding-right: 1.5rem;
    }
    .titulo__passion{
        font-size: var(--font-xl);
    }

    .secao__works{
        height: auto;
    }
    .container__works{
        padding-left: 0%;
    }
    .cabecalho__secao___works{
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
    .botao__view-cases{
        padding: 0 1rem 1.5rem 0;
        font-size: 16px;
        width: 45vw;
        background-position-x: right;
        background-position-y: 0%;
    }
    .container__cards{
        padding-left: 1.5rem;
        height: 33.688rem;
    }
    .card__works, .imagem__card___works{
        width: 18.438rem;
        height: 33.688rem;
    }
    .card-works:hover .gradient{
        animation: none;
    }
    .info__card{
        top: -8rem;
        width: 16.438rem;
        padding-left: 1rem;
        padding-right: 0%;
        margin: 0%;
    }
    .titulo__info___card{
        font-size: var(--font-xs);
    }
    .descricao__info___card{
        font-size: 16px;
    }
    .gradient{
        opacity: .5;
        width: 18.438rem;
        height: 42.4rem;
    }

    .secao__we{
        padding: 13.75rem 1rem 0 1.5rem;
    }
    .secao__muda-nome{
        flex-direction: column;
        margin-bottom: 19.219rem;
    }
    .titulo__we{
        font-size: 88px;
    }
    .stroke__we{
        font-size: 88px;
    }
    .muda-nome{
        width: 89vw;
        height: 5.5rem;
    }
    .botao__explore{
        width: 87.5vw;
    }
    .container__muda-nome{
        animation: mudaNome 8s ease-in-out infinite alternate;
    }

    @keyframes mudaNome {
        0%{
            position: relative;
            top: -6.5rem;
        }
        25%{
            animation: paused;
        }
        50%{
            position: relative;
            top: -13rem;
        }
        75%{
            animation: paused;
        }
        100%{
            position: relative;
            top: -20rem;
        }
    }

    .secao__patrocinadores{
        height: 100vh;
    }

    .secao__comentarios{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .comentario{
        font-size: var(--font-sm);
        padding-right: 0%;
    }
    .icone__perfil___comentario{
        width: 2.5rem;
        height: 2.5rem;
    }
    .nome__perfil___comentario{
        font-size: 20px;
    }
    .container__botao___comentario{
        width: 90vw;
        gap: 2rem;
    }

    .secao__scroll{
        margin-top: 17.75rem;
        height: 58vh;
    }
    .titulo__scroll{
        font-size: 64px;
    }
    .scroll-1{
        animation:movimenta-titulo-1 12s ease-in-out infinite alternate;
        animation-delay: -2s;
    }
    .scroll-2{
        animation:movimenta-titulo-2 12s ease-in-out infinite alternate;
        animation-delay: -2s;
    }

    .newsletter{
        background-position-y: 10rem;
        background-position-x: center;

        height: 100vh;
    }
    .subscribe{
        margin-left: 0%;
    }
    .titulo__subscribe{
        font-size: 40px;
    }
    .email__subscribe{
        width: 88vw;
    }
    .container__lets-talk{
        display: none;
    }

    .rodape{
        height: auto;
    }
    .secao__titulo___rodape{
        flex-direction: column;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .redes__sociais___rodape{
        gap: 0%;
        justify-content: space-between;
        padding-left: .5rem;
        padding-right: .5rem;
    }
    .abas__footer{
        flex-direction: column;
        padding-bottom: 0%;
    }
    .container__abas{
        flex-direction: column;
        padding-left: 1.5rem;
        gap: 0%;
    }
    .link__fim{
        margin-top: 4rem;
    }
}

@media (min-width:768px) and (max-width:1024px){
    .titulo__banner{
        font-size: var(--font-lg);
    }
    
    .secao__video{
        height: 50vh;
    }
    .video{
        width: 104vw;
    }
    .imagem__desmuta, .imagem__muta{
        width: 5rem;
        height: 5rem;
    }
    .botao__desmuta, .botao__muta{
        top: -4.5rem;
    }

    .secao__we{
        padding-left: 2rem;
    }
    .stroke__we{
        font-size: var(--font-xl);
    }
    .muda-nome{
        width: 28.5rem;
        height: 6rem;
    }
    .secao__muda-nome{
        flex-direction: row;
    }
    @keyframes mudaNome {
        0%{
            position: relative;
            top: -7.2rem;
        }
        25%{
            animation: paused;
        }
        50%{
            position: relative;
            top: -14.2rem;
        }
        75%{
            animation: paused;
        }
        100%{
            position: relative;
            top: -21.2rem;
        }
    }

    .secao__patrocinadores {
        height: 80vh;
    }

    .secao__comentarios {
        padding-left: 6rem;
        height: 60vh;
    }

    .secao__scroll{
        height: 35vh;
    }
    .titulo__scroll{
        font-size: var(--font-xl);
    }

    .newsletter{
        height: 65vh;
        padding-bottom: 4rem;
    }
    .titulo__subscribe{
        font-size: var(--font-md);
    }


    .rodape{
        height: 70vh;
    }
    .secao__titulo___rodape{
        flex-direction: row;
    }
    .redes__sociais___rodape{
        gap: 1.5rem;
    }
    .container__abas{
        flex-direction: row;
        gap: 6.5rem;
        justify-content: center;
    }
}

@media (min-width:1493px){
    .container__menu{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .secao__passion{
        height: 100vh;
        display: flex;
        align-items: center;
    }

    @keyframes animaInfo {
        to{
            opacity: 1;
            transform: translateY(-10rem)
        }
    }

    .botao__play{
        top: -45%;
    }

    .secao__works{
        height: 100vh;
    }

    .secao__we{
        justify-content: center;
        height: 100vh;
    }

    .container__menu{
        gap: 1rem;
    }
}