@media (min-width:0px){
    /*-------------------------------CABECALHO--------------------------------*/
    .cabecalho{
        display: flex;
        justify-content: space-between;
        position: fixed;
        width: 100vw;
        height: 7rem;
        
        padding: 2rem 9.5rem;
        
        font-family: var(--paragraph-satoshi);

        border-bottom: 1px solid var(--high-low);

        background-color: var(--high-pure);
        z-index: 1000;
        transition: all .4s ease-in-out;
    }
    .container__nav{
        display: flex;
        background-color: var(--high-pure);
        transition: all .4s ease-in-out;
    }
    .container__menu{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        padding: .5rem 0;

        background-color: transparent;
        
        border: none;
        background-color: var(--high-pure);
        transition: all .4s ease-in-out;
    }
    .traducao__pagina{
        border: none;
        background-color: transparent;
        
        margin-right: 3.438rem;

        font-weight: 500;
    }
    /*-------------------------------BANNER-VIDEO--------------------------------*/
    .banner{
        padding: 8.875rem 11.5rem 15.563rem 9.5rem;
        margin-top: 8.5rem;
        background-color: var(--high-pure);
    }
    .titulo__banner{
        font-size: var(--font-xl);
        font-family: var(--heading-cabinet);
        font-weight: var(--bold);
        line-height: var(--line-sm);

        color: var(--low-pure);
    }
    .titulo__banner::selection{
        background-color: var(--low-dark);
        color: var(--high-pure);
    }
    .ponto__red::selection{
        background-color: var(--low-dark);
        color: var(--high-pure);
    }
    .botao__view-cases___banner{
        background-color: none;
        border: none;
        border-bottom: 2px solid var(--low-dark);
        font-family: var(--heading-cabinet);
        font-weight: 700;

        color: var(--low-pure);

        padding: 0 2.5rem .5rem 0;

        background-image: url("../../Assets/Setas/Right-Down-Black.svg");
        background-repeat: no-repeat;
        background-position-x: 100%;
    }
    .botao__view-cases___banner::selection{
        background-color: var(--low-pure);
        color: var(--high-pure);
    }
    .botao__view-cases___banner:hover{
        cursor: url("../../Assets/Interações/GetInTouch/View-Black.svg")25 30, default ;
    }


    .secao__video{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 56.125rem;
        width: 100vw;

        overflow-y: hidden;
        overflow-x: hidden;
    }
    .video-poster{
        overflow-y: hidden;
        overflow-x: hidden;
        width: 75vw;
        height: auto;

        display: none;
    }
    .video-played{
        display: block;
        overflow-y: hidden;
        overflow-x: hidden;
        position: relative;
        width: 75vw;
        height: auto;
    }
    .botao__desmuta, .botao__muta{
        position: relative;
        align-self: center;
        justify-self: center;
        display: none;
        visibility: hidden;
        height: 4rem;
        width: 4rem;
        left: center;
        top: -10rem;

        
        border: none;
        background-color: transparent;
        z-index: 20;
    }
    .botao__play{
        border: none;
        background-color: transparent;
        position: relative;
        top: -36%;
        width: 4rem;
        height: 4rem;
    }
    .imagem__play{
        position: relative;
        width: 4rem;
        height: 4rem;
    }
    .botao__desmuta{
        display: block;
    }
    .botao__muta{
        display: none;
    }
    .imagem__desmuta, .imagem__muta{
        height: 4rem;
        width: 4rem;
    }
    /*-------------------------------PASSION--------------------------------*/
    .secao__passion{
        padding: 13.5rem 9.5rem 13.125rem 9.563rem;
        font-family: var(--heading-cabinet);

        background-color: var(--low-pure);
    }
    .titulo__passion{
        font-size: var(--font-xxl);
        color: var(--high-pure);
    }
    .titulo__passion::selection{
        background-color: var(--high-pure);
        color: var(--low-pure);
    }
    .stroke::selection{
        background-color: var(--high-pure);
        color: var(--low-pure);
    }
    .ponto__white::selection{
        background-color: var(--high-pure);
        color: var(--low-pure);
    }
    /*-------------------------------WORKS--------------------------------*/   
    .secao__works{
        display: flex;
        flex-direction: column;
        background-color: var(--low-pure);

        height: 58.5rem;

    }
    .cabecalho__secao___works{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        color: var(--high-pure);
        font-family: var(--heading-cabinet);
        font-weight: var(--medium);
        font-size: 16px;

        padding: 0 9.5rem 0 0;
        margin-bottom: 3.813rem;
    }
    .titulo__cabecalho___works::selection{
        background-color: var(--high-pure);
        color: var(--low-pure);
    }
    .botao__view-cases{
        background-color: none;
        border: none;
        font-size: 16px;

        color: var(--high-pure);

        padding: 0 18rem 1.656rem 0;

        background-image: url("../../Assets/Setas/Right-Down-White.svg");
        background-repeat: no-repeat;
        background-position-x: right;
    }
    .botao__view-cases::selection{
        background-color: var(--high-pure);
        color: var(--low-pure);
    }
    .botao__view-cases:hover{
        cursor: url("../../Assets/Interações/GetInTouch/view-white-en.svg") 25 12, default;
    }
    .container__works{
        position: sticky;
        padding-left: 9.5rem;
        background-color: var(--low-pure);
    }
    .container__cards{
        display: flex;
        flex-direction: row;
        width: auto;
        height: 40.4rem;
        gap: 1rem;

        overflow-x: scroll;
        overflow-y: hidden;
        overscroll-behavior-x: contain;

        scrollbar-width: thin;
        scrollbar-color: transparent transparent;
    }
    .container__cards::-webkit-scrollbar{
        display: none;
    }
    .card-works{
        transition:all .4s ease-in-out;
        filter: grayscale(100%) brightness(40%);
    }
    .imagem__card___works{
        user-select: none;
        user-select: unset;
        -moz-user-select: none;
        -webkit-user-select: none;
    }
    .card-works:hover .gradient{
        animation: opacidadeBG .4s ease-in-out forwards;
        transition:all .4s ease-in-out;
    }
    .atarde:hover{
        cursor: url("../../Assets/Interações/GetInTouch/view-white-en.svg") 25 30, default;
        filter: none;
    }
    .card-works:hover .titulo__card{
        display: none;
    }
    .titulo__card{
        position: relative;
        top: -6.5rem;
        padding-left: 1.5rem;

        font-family: var(--paragraph-satoshi);
        font-size: var(--font-sm);
    }
    .info__card{
        position: relative;
        display: flex;
        align-self: flex-end;
        flex-direction: column;

        width: 23rem;

        opacity: 1;
        z-index: 20;

        padding: 0 1.5rem 0 1.5rem ;

        transition: transform .4s ease-in-out;
    }
    .titulo__info___card{
        font-family: var(--heading-cabinet);
        font-size: var(--font-sm);
    }
    .descricao__info___card{
        font-family: var(--paragraph-satoshi);
        font-size: 20px;
        font-weight: var(--regular);

        margin-top: 1rem;
    }
    .atarde:hover .info__card{
        animation: animaInfo .4s ease-in-out forwards;
        transition: transform .4s ease-in-out;
    }

    .loq:hover, .coke:hover, .salvado-fashion:hover{
        cursor: url("../../Assets/Interações/GetInTouch/em-breve.svg") 25 30, default;
    }
   /*-------------------------------WE--------------------------------*/
    .secao__we{
        padding: 0 9.5rem 0 9.5rem;

        display: flex;
        flex-direction: column;

        background-color: var(--low-pure);
    }
    .secao__muda-nome{
        display: flex;
        flex-direction: column;
        margin-bottom: 13.063rem;
    }

    .titulo__we{
        font-family: var(--heading-cabinet);
        font-size: var(--font-xxl);
        font-weight: var(--bold);

        color: var(--high-pure);
    }
    .titulo__we::selection{
        background-color: var(--high-pure);
        color: var(--low-pure);
    }
    .stroke__we{
        -webkit-text-stroke: 1px var(--high-pure);
        color: transparent;
        font-size: var(--font-xxl);
        font-family: var(--heading-cabinet);
        font-weight: var(--bold);

        margin: 0%;
    }
    .stroke__we::selection{
        background-color: var(--high-pure);
        color: var(--low-pure);
    }
    .container__muda-nome{
        animation: mudaNome 10s ease-in-out infinite alternate;
    }
    .muda-nome{
        overflow-y: hidden;
        overflow-x: hidden;
        width: 74.5rem;
        height: 15.625rem;
    }
    .botao__explore{
        width: 78vw;
        text-align: start;
        color: var(--high-pure);
        font-family: var(--heading-cabinet);
        font-weight: var(--medium);

        padding-bottom: 1.656rem;

        background-color: transparent;
        border: none;

        background-image: url("../../Assets/Setas/Right-Down-White.svg");
        background-repeat: no-repeat;
        background-position-x: 100%;
    }
    .botao__explore::selection{
        background-color: var(--high-pure);
        color: var(--low-pure);
    }
    .botao__explore:hover{
        cursor: url("../../Assets/Interações/GetInTouch/view-white-en.svg") 25 30, default;
    }
    /*-------------------------------PATROCINADORES--------------------------------*/
    .secao__patrocinadores{
        height: 47.063rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        padding-bottom: 4rem;

        font-family: var(--heading-cabinet);
        font-weight: var(--bold);
        color: var(--high-pure);
        background-color: var(--low-pure);
    }
    .titulo__patrocinadores{
        margin-bottom: 5.5rem;
    }
    .titulo__patrocinadores::selection{
        background-color: var(--high-pure);
        color: var(--low-pure);
    }
    .container__logo___patrocinadores{
        display: flex;
        flex-direction: row;
        gap: 7rem;
        margin-bottom: 25vh;
    }
    .container__patrocinadores{
        display: flex;
        flex-direction: column-reverse;
        height: 56px;
        overflow-y: hidden;
    }

    .logo__patrocinadores-1{
        position: relative;
        animation: anima-logo-1 4s infinite alternate;
        
        
    } 
    .logo__patrocinadores-2{
        position: relative;
        animation: anima-logo-2 4s infinite alternate;
    }
    /*------------------------------COMENTARIO-------------------------------*/
    .secao__comentarios{
        height: 56rem;

        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        padding-top: 15.938rem;
        padding-left: 10rem;
        padding-right: 9.5rem;
        background-color: var(--high-pure);
        
    }
    .cabecalho__comentarios{
        font-family: var(--heading-cabinet);
        font-weight: var(--bold);
        font-size: var(--font-xs);

        position: relative;
        bottom: -1rem;
    }
    .container__carousel{
        width: 79vw;
        height: 37rem;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .lista__comentarios{
        width: 158vw;
        height: 32rem;

        display: flex;
        flex-direction: row;
        overflow-x: hidden;

        transition: all .4s ease-out;
    }
    .item__lista___comentarios{
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin-bottom: 9.938rem;
    }
    .numeracao__comentario{
        align-self: flex-end;

        font-family: var(--heading-cabinet);
        font-weight: var(--bold);
        font-size: 16px;
    }
    .comentario{
        width: 79vw;

        padding-top: 3.5rem;
        padding-right: 23.417rem;
        margin-top: 5.688rem;
        margin-bottom: 3.5rem;
        
        font-family: var(--heading-cabinet);
        font-weight: var(--bold);
        font-size: var(--font-md);

        background-image: url("../../Assets/Home/aspas.png");
        background-repeat: no-repeat;     
    }
    .perfil__comentario{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
    .icone__perfil___comentario{
        width: 3.5rem;
        height: 3.5rem;
    }
    .nome__perfil___comentario{
        font-family: var(--heading-cabinet);
        font-weight: var(--bold);
        font-size: var(--font-xs);
    }
    .descricao__perfil___comentario{
        font-family: var(--paragraph-satoshi);
        color: var(--low-medium);
        font-weight: var(--regular);
        margin-bottom: 0%;
        margin-top: 0%;
    }
    .container__botao___comentario{
        width: 79vw;
        
        display: flex;
        gap: 1rem;
    }
    .botao__anterior___comentario{
        width: 39.5vw;
        
        border: none;
        border-bottom: 2px solid var(--low-pure);
        
        padding-bottom: 2.208rem;

        background-color: transparent;
        background-image: url("../../Assets/Setas/Left.svg");
        background-repeat: no-repeat;
    }
    .botao__proximo___comentario{
        width: 39.5vw;
        
        border: none;
        border-bottom: 2px solid var(--low-pure);
        
        padding-bottom: 1.656rem;

        background-color: transparent;
        background-image: url("../../Assets/Setas/Right.svg");
        background-repeat: no-repeat;
        background-position-x: right;
        transition: all .3s ease-in-out;
    }
    /*-------------------------------SCROLL--------------------------------*/
    .secao__scroll{
        height: 51rem;
        padding-top: 10.75rem;
        display: flex;
        flex-direction: column;

        overflow-x: hidden;
    }
    .container__titulo{
        position: relative;
    }
    .titulo__scroll{
        font-family: var(--heading-cabinet);
        font-weight: var(--bold);
        font-size: var(--font-xxl);

        width: 800vw;
    }
    .scroll-1{
        display: flex;
        flex-direction: row;
        position: relative;
        width: 800vw;
    }
    .scroll-2{
        display: flex;
        flex-direction: row;
        width: 800vw;
        position: relative;

        margin-bottom: 7.063rem;
    }
    .botao__get-in{
        width: 79vw;
        display: flex;
        align-self: center;

        font-family: var(--heading-cabinet);
        font-weight: var(--bold);
        
        border-bottom: 2px solid var(--low-pure);
        
        color: var(--low-pure);
        padding-bottom: 1.656rem;

        background-color: transparent;
        background-image: url("../../Assets/Setas/Right-Down-Black.svg");
        background-repeat: no-repeat;
        background-position-x: right;
    }
    .botao__get-in:hover{
        cursor: url("../../Assets/Interações/GetInTouch/View-Black.svg")25 30, default ;
    }
    /*-------------------------------NEWSLETTER--------------------------------*/
    .newsletter{
        height: 51rem;

        padding-right: 27.688rem;
        padding-left: 9.5rem;
        padding-top: 11.5rem;
        padding-bottom: 9.5rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-image: url("../../Assets/Home/logo-grande.svg");
        background-repeat: no-repeat;
        background-position-x: 17%;
        background-position-y: center;
        background-size: 17.625rem 17.625rem;

    }
    .subscribe{
        display: flex;
        flex-direction: column;
        gap: 3.5rem;
        
        padding-bottom: 2.438rem;
        margin-left: 39.5rem;

    }
    .titulo__subscribe{
        font-family: var(--heading-cabinet);
        font-weight: var(--bold);
        font-size: var(--font-lg);
        
    }
    .email__subscribe{
        width: 41rem;
        font-family: var(--heading-cabinet);
        font-weight: var(--bold);

        padding-bottom: 1.656rem;
        border: none;
        border-bottom: 2px solid var(--low-pure);
        
        color: var(--low-pure);
        font-size: 16px;

        background-color: transparent;
        background-image: url("../../Assets/Setas/Right-Down-Black.svg");
        background-repeat: no-repeat;
        background-position-x: right;
    }
    .email__subscribe:focus{
        outline: none;
    }
    .email__subscribe::placeholder{
        font-weight: var(--bold);
        color: var(--low-pure);
    }
    .container__lets-talk{
        display: flex;
        position: fixed;
        width: 100vw;
        justify-content: flex-end;
        top: 8rem;
        padding-right: 2rem;
        padding-top: 0;
        z-index: 22;
    }
    /*-------------------------------RODAPE--------------------------------*/
    .rodape{
        width: 100vw;
        background-color: var(--high-pure);
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 9rem;
    }
    .secao__info___rodape{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 25rem;

        padding-bottom: 10.813rem;

        border-bottom: 1px solid var(--low-medium);
    }
    .secao__titulo___rodape{
        width: 50vw;
        display: flex;
        flex-direction: column;

    }
    .titulo__rodape{
        font-family: var(--heading-cabinet);
        font-weight: var(--bold);
        font-size: var(--font-md);
        color: var(--low-pure);
    }
    #titulo__rodape-2{
        color: var(--low-light);
    }
    .botao__talk___footer{
        color: var(--low-pure);
        font-family: var(--heading-cabinet);
        font-weight: var(--bold);

        background-image: url("../../Assets/Setas/Right-Down-Black.svg");
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: -.2rem;

        width: 10.938rem;
        margin-top: 2rem;
        padding-bottom: .5rem;

        border-bottom: 2px solid var(--low-pure);
    }
    .botao__talk___footer:hover{
        cursor: url("../../Assets/Interações/GetInTouch/View-Black.svg") 25 30, default;
    }
    .redes__sociais___rodape{
        display: flex;
        align-items: center;
        gap: 2.813rem;   
    }
    .hashtag__footer{
        font-family: var(--heading-cabinet);
        font-weight: 500;
        color: var(--high-pure);
    }
    .patrocinadores__rodape{
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .abas__footer{
        display: flex;
        justify-content: center;
        padding-top: 6rem;
        padding-bottom: 1rem;
    }
    .container__abas{
        display: flex;
        flex-direction: row;
        gap: 10.313rem;
    }
    .aba{
        display: flex;
        flex-direction: column;
        height: 14.5rem;
        width: 9.5rem;
    }
    .titulo__aba{
        font-family: var(--paragraph-satoshi);
        font-weight: var(--bold);
        color: var(--low-pure);
        margin-bottom: 1.5rem;
    }
    .item__aba{
        font-family: var(--paragraph-satoshi);
        font-weight: var(--regular);
        color: var(--low-medium);
        margin-bottom: 1rem;
    
        transition: all .1s ease-in-out;
    }
    .item__aba:hover{
        color: var(--low-pure);
        transition: all .1s ease-in-out;    
    }
    .secao__brand{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 71rem;
        justify-content: space-between;
        
        font-family: var(--heading-cabinet);
        font-style: normal;
        font-weight: var(--bold);

        padding-top: 2.938rem;
        padding-bottom: 6.625rem;
    }
    .link__redes-sociais, .icone__redes{
        width: 1.5rem;
        height: 1.5rem;
    }
    .link__redes-sociais___mobile{
        display: none;
    }
}