@media (min-width:0px){
    /*------------------------------BANNER-------------------------------*/
    #imagem__banner{
        background-image: url("../../../Assets/Cases/Cyrela-Sell.it/imagem-banner-cyrela-sell.it.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #imagem__numeros-projetos{
        background-image: url("../../../Assets/Cases/Cyrela-Sell.it/imagem-numerosr-cyrela-sell.it.png");
        background-repeat: no-repeat;
    }
    #imagem-did{
        background-image: url("../../../Assets/Cases/Cyrela-Sell.it/imagem-o-que-fizemos-cyrela-sell.it.png");

        height: 47.75rem;
        background-size: 90vw 40.375rem;
        background-position-x: center;
    }
    #imagem__sobre-projeto{
        background-image:url("../../../Assets/Cases/Cyrela-Sell.it/imagem-sobre-projeto-cyrela-sell.it.png");

        background-size: 90vw 40.375rem;
        background-position-x: center;
    }
    #imagem__menu-principal{
        background-image: url("../../../Assets/Cases/Cyrela-Sell.it/imagem-menu-principal-cyrela-sell.it.png");
    }
    #imagem__proximo-projeto{
        background-image: url("../../../Assets/Cases/Cyrela-Vivaz/imagem-proximo-projeto-cyrela-vivaz.png");
    }

    .titulo__sobre{
        margin-top: 1.375rem;
    }
    /*------------------------NUMERO-PROJETOS-------------------------*/

    #link__sobre-app-vivaz{
        visibility: hidden;
    }
    .subtitulo__mobile{
        display: none;
    }
}
@media (max-width:1024px){
    #imagem-did{
        height: 17.75rem;
        background-size: 90vw 13.375rem;
    }
    #imagem__sobre-projeto{
        height: 16.75rem;
        background-size: 90vw 12.375rem;
    }
    #imagem__proximo-projeto{
        background-size: 100vw 9.375rem;
    }
}
@media (min-width:768px) and (max-width:1024px){
    #imagem-did{
        height: 28.75rem;
        background-size: 90vw 24.375rem;
    }
    #imagem__sobre-projeto{
        height: 27.75rem;
        background-size: 90vw 23.375rem;
    }
    #imagem__proximo-projeto {
        background-size: 100vw 16.375rem;
    }
}
@media (min-width:1024px) and (max-width:1355px){
    #imagem__banner{
        height: 35rem;
    }
    #imagem__numeros-projetos{
        background-size: 90vw 41.375rem;
    }
    #imagem-did{
        height: 45.75rem;
        background-size: 90vw 37.375rem;        
    }
    #imagem__sobre-projeto{
        height: 43.75rem;
        background-size: 90vw 35.375rem;
    }
    #imagem__proximo-projeto {
        background-size: 100vw 21.375rem;
    }
}
