@media (max-width:1024px){
    /*-------------------------------CABECALHO--------------------------------*/
    .cabecalho{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    
    .logo-studio{
        margin: 0%;
    }
    .container__nav{
        margin: 0%;
    }
    .container__nav{
        gap: 1.125rem;
    }
    /*-------------------------------BANNER--------------------------------*/
    .secao__banner{
        padding: 11rem 0 0 0 ;
        margin-top:0%;

        flex-direction: column;
        justify-content: center;
        gap: 4.375rem;
    }
    .secao__titulo___banner{
        padding: 0%;

        padding-left: 1.25rem;
    }
    .titulo__banner{
        font-size: 40px;
        line-height: 100%;

        margin-bottom: 1.5rem;

        width: 20.688rem;
    }
    .descricao__banner{
        font-size: 16px;
        width: 20.688rem;
    }
    .break{
        display: none;
    }
    .descricao__banner{
        gap: 1.5rem;
        width: 19rem;

        opacity: .8;
    }
    /*--------------------------SOBRE-PROJETO---------------------------*/
    .container__secoes-alinhadas{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .secao__sobre{
        flex-direction: column;
        align-items: flex-start;
        padding: 1.875rem 2rem 4.375rem 0rem;

        width: 89.2vw;
    }
    .container__titulo__sobre{
        display: flex;
        flex-direction: column-reverse;
    }
    .titulo__sobre{
        margin-bottom: 0%;
        margin-top: 4.375rem;

        font-size: var(--font-xs);
    }
    .link__sobre{
        font-size: 20px;
    }
    .subtitulo__mobile{
        display: block;
        font-size: var(--font-xs);
        font-family: var(--heading-cabinet);
        font-weight: var(--bold);
    }
    .descricao__sobre{
        margin-top: .8rem;

        width: 19.938rem;
        font-size: 16px;
        opacity: 0.7
    }
    /*-----------------------NUMEROS-PROJETOS--------------------------*/
    .secao__numeros-projeto{
        flex-direction:column;
        align-items: flex-start;

        padding: 0 0 4.375rem 1.25rem;
    }
    .secao__numeros-projetos{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2.25rem;

        width: 19.375rem;
    }
    .titulo__numeros-projetos{
        margin-top: 0%;
        margin-bottom: 2.5rem;

        font-size: var(--font-xs);
    }
    .numero-projetos{
        font-size: var(--font-lg);
    }
    /*----------------------------DID------------------------*/
    .secao__did{
        gap: 4.375rem;

        padding: 4.375rem 0 0 0;

        align-items: flex-start;
    }
    .container__titulo___did{
        flex-direction: column;
        padding-left: 1.25rem;
    }
    .lista__did{
        width: 19.375rem;
        height: 7.5rem;

        padding-left: 1.8rem;
        margin-top: 1.875rem;

        opacity: 0.7;
    }
    .item__lista___did{
        font-size: 16px;

        opacity: 0.7;
    }
    .imagem__did{
        padding-bottom: 4.125rem;
    }
    /*---------------------------SOBRE-PROJETO--------------------------*/
    .secao__sobre-projeto{
        gap: 4.375rem;

        padding: 4.375rem 0 0 0;

        align-items: flex-start;
    }
    .container__titulo___sobre-projeto{
        flex-direction: column;

        padding-left: 1.25rem;
    }
    .titulo__sobre-projeto{
        font-size: var(--font-xs);
        margin-bottom: 15px;
    }
    .descricao__sobre-projeto{
        width: 19.375rem;
        font-size: 16px;
        line-height: 150%;

        margin: 0%;
    }
    /*--------------------------MENU-PRINCIPAL-------------------------*/
    .secao__menu-principal{
        align-items: flex-start;
        padding: 4.375rem 0 0 0;

        gap: 4.375rem;
    }
    .container__menu-principal{
        flex-direction: column;

        padding-left: 1.25rem;
        padding-right: 0%;
    }
    .container__menu-principal-secao-2{
        flex-direction: column;

        padding-left: 1.25rem;
        padding-right: 0%;
    }
    .descricao__menu-principal{
        font-size: 16px;
        width: 19.375rem;
    }
    .titulo__menu-principal{
        margin-bottom: 15px;
        line-height: 150%;
    }
    .imagem__menu-principal{
        width: 100vw;
        height: 15.8rem;

        background-size: 100vw 15.8rem;
    }
    /*-----------------------COMENTARIOS----------------------------*/
    .secao__comentarios{
        padding-left: 4.5vw;
        padding-right: 4.5vw;
        padding-top: 6.2rem;

        height: 47rem;
    }
    .lista__comentarios{
        transition: all .2s ease-in-out;
        width: 270vw;
    }
    .item__lista___comentarios{
        margin-bottom: 6.938rem;
    }
    .cabecalho__comentarios{
        bottom: -1.35rem;
    }
    .container__carousel{
        width: 90vw;
        height: 54rem;
    }
    .comentario{
        font-size: var(--font-sm);
        padding-right: 0%;
        width:90vw;
    }
    .icone__perfil___comentario{
        width: 2.5rem;
        height: 2.5rem;
    }
    .nome__perfil___comentario{
        font-size: 20px;
    }
    .container__botao___comentario{
        width: 90vw;
        gap: 2rem;
        margin-top: 2rem;
    }
    .botao__anterior___comentario, .botao__proximo___comentario{
        width: 44.5vw;
    }
    /*-----------------------PROXIMO-PROJETO--------------------------*/
    .secao__proximo-projeto{
        gap: 4.375rem;

        padding: 2rem 0 0 0;
    }
    .container__titulo___proximo-projeto{
        padding-left: 1.25rem;
        padding-right: 0%;
    }
    /*----------------------RODAPE----------------------*/
    .rodape{
        height: auto;
        margin-top: 4rem;
    }
    .secao__info___rodape{
        height:auto;
        flex-direction: column;
        border: none;
        padding-bottom: 0%;
        padding-left: 0rem;
    }
    .secao__titulo___rodape{
        flex-direction: column;
        padding-left: 0;
        padding-right: 1.5rem;
        width: 90vw;
    }
    .titulo__rodape{
        padding-right: 2.6rem;
    }
    .botao__talk___footer{
        width: 14.625rem;
        margin-top: 2.9rem;
    }
    .redes__sociais___rodape{
        gap: 0%;
        justify-content: space-between;
        padding-left: .5rem;
        padding-right: .5rem;
    }
    .link__redes-sociais___mobile{
        display: block;
        width: 1.5rem;
        height: 1.5rem;
    }
    .abas__footer{
        flex-direction: column;
        padding-bottom: 0%;
        padding-left: 0;
        padding-top: 3rem;
        width: 90vw;
    }
    .container__abas{
        flex-direction: column-reverse;
        padding-left: 0%;
        gap: 0%;
        border-bottom: 1px solid var(--low-pure);
        padding-bottom: 3.125rem;
        margin-top: 2.5rem;
    }
    .aba{
        height: 10.688rem;
    }
    .secao__brand{
        width: 90vw;
        padding-top: 2rem;
        padding-bottom: 2.313rem;
    }
    .container__ico___redes-sociais{
        display: none;
    }
    .container__ico___redes-sociais-mobile{
        display: flex;
        gap: .5rem;
    }
    .link__fim{
        margin-top: 4rem;
    }

    .newsletter{
        height: 52rem;
    }
}
@media (min-width:768px) and (max-width:1024px){
    /*-------------------------------BANNER--------------------------------*/
    .titulo__banner{
        font-size: var(--font-lg);
    }
    .descricao__banner{
        font-size: var(--font-xs);
        width: 29rem;
    }
    .imagem__banner{
        height: 24.75rem;
    }
    /*--------------------------SOBRE-PROJETO---------------------------*/
    .container__titulo__sobre{
        width: 21.25rem;
    }
    .titulo__sobre{
        font-size: var(--font-md);
    }
    .subtitulo__mobile{
        font-size: var(--font-md);
    }
    .link__sobre{
        font-size: var(--font-xs);
    }
    .descricao__sobre{
        font-size: var(--font-xs);
        width: 31.938rem;
    }
    /*-----------------------NUMEROS-PROJETOS--------------------------*/
    .secao__numeros-projetos{
        width: 37.375rem;
    }
    .titulo__numeros-projetos{
        font-size: var(--font-md);
    }
    .numero-projetos{
        font-size: var(--font-xl);
    }
    .descricao__numero-projetos{
        font-size: 20px;
    }
    /*----------------------------DID------------------------*/
    .titulo__did{
        font-size: var(--font-md);
    }
    .lista__did{
        width: 45rem;
        height: 6rem;
    }
    .item__lista___did{
        font-size: 20px;
    }
     /*---------------------------SOBRE-PROJETO--------------------------*/
    .titulo__sobre-projeto{
        font-size: var(--font-md); 
    }
    .descricao__sobre-projeto{
        font-size: 20px;
        width: 41.375rem;
    }
    /*-----------------------COMENTARIOS----------------------------*/
    .secao__comentarios{
        padding-left: 2.5rem;
    }
    .botao__anterior___comentario, .botao__proximo___comentario{
        width: 47vw;
    }

    .secao__comentarios{
        height:54rem;
    }
    .item__lista___comentarios{
        height: 21rem;
    }
    .container__carousel{
        height: 26rem;
    }
    /*-----------------------PROXIMO-PROJETO--------------------------*/
    .container__titulo___proximo-projeto{
        padding-left: 2.5rem;
    }
    /*------------------------------RODAPE-------------------------*/
    .secao__titulo___rodape{
        padding-left: 0%;
        width: 90vw;
    }
    .secao__info___rodape{
        padding-left: 0rem;
    }
    .abas__footer{
        padding-left: 0%;
    }
    @keyframes movimenta-titulo-1 {
        0%{
            position: relative;
            right: 10%;
        }
        75%{
            animation: paused;
        }
        100%{
            position: relative;
            right: 350%;
        }  
    }
    
    @keyframes movimenta-titulo-2 {
        0%{
            position: relative;
            left: -350%;
        }
        35%{
            animation: paused;
        }
        100%{
            position: relative;
            left: 10%;
        }  
    }

    .newsletter{
        background-position-y: top;
        background-position-x: 2.7rem;
        padding-top: 31.5rem;
        background-size: 28rem 28rem;

        height: 47rem;
    }

    .rodape{
        height: 71.5rem;
    }

    .secao__info___rodape{
        padding-bottom: 0%;
        margin-bottom: 3rem;
        height: 57rem;
    }
    .secao__titulo___rodape{
        padding-left: 0%;
    }
    .container__abas{
        padding-bottom: 9.125rem;
    }

    .titulo__rodape{
        font-size: 60px;
    }
    .botao__talk___footer{
        width: 60vw;
    }

    .titulo__aba{
        font-size: var(--font-sm);
    }
    .item__aba{
        font-size:var(--font-xs);
    }
    .aba{
        height: 13.688rem;
        width: 12.5rem
    }
    .secao__brand{
        padding-top: 0;
    }
    .titulo__brand{
        font-size: 20px;
    }
}
@media (min-width:1024px) and (max-width:1355px){
    .comentario{
        padding-right: 3.417rem
    }

    /*-----------------------RODAPE----------------------------------*/
    .secao__brand{
        width: 80vw;
    }
}
@media (min-width:1600px) {
    /*-----------------------NUMEROS-PROJETOS--------------------------*/

    /*----------------------------DID------------------------*/

    /*---------------------------SOBRE-PROJETO--------------------------*/

    /*-----------------------RODAPE----------------------------------*/
    .secao__brand{
        width: 87rem;
    }
    /*-------------------------------COMENTARIO--------------------*/
    .secao__comentarios{
        padding-left: 10vw;
        padding-right: 4.5rem;
    }
    /*-----------------------PROXIMO-PROJETO--------------------------*/
    .container__titulo___proximo-projeto{
        padding-left: 10vw;
    }
    .secao__info___rodape{
        width: 80vw;
     }
     .secao__brand{
        width: 80vw;
    }

}