@media (min-width:0px){
    #input__form-contato-gsth{
        display: block;
    }
    /*-------------------------------CABECALHO--------------------------------*/
    .cabecalho{
        display: flex;
        justify-content: space-between;
        position: fixed;
        width: 100vw;
        height: 7rem;
        
        padding: 2rem 9.5rem;
        
        font-family: var(--paragraph-satoshi);

        border-bottom: 1px solid var(--high-low);

        background-color: var(--high-pure);
        z-index: 1000;
        transition: all .4s ease-in-out;

        opacity: 1;
    }
    .container__nav{
        display: flex;
        gap: 7.125rem;
        background-color: var(--high-pure);
        transition: all .4s ease-in-out;
    }
    .container__menu{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        padding: .5rem 0;

        background-color: transparent;
        
        border: none;
        background-color: var(--high-pure);
        transition: all .4s ease-in-out;
    }
    .container__botao___menu{
        display: flex;
        flex-direction: row;
        gap: 0.813rem;
    }
    .titulo__menu{
        font-family: var(--paragraph-satoshi);
        font-weight: 500;
        font-size: 16px;

        margin: 0%;
        margin-top: .9rem;

        cursor: pointer;
    }
    .container__traducao-pagina{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
    .traducao-pagina-pt{
        color: var(--low-pure);

        font-weight: 500;
    }
    .traducao-pagina-en{
        color: var(--high-dark);

        font-weight: 500;
    }
    /*------------------------------BANNER-------------------------------*/
    .secao__banner{
        display: flex;
        flex-direction: column;

        padding: 15rem 0 0 0;
    }
    .secao__titulo___banner{
        color: var(--low-pure);
        padding: 0 11.5rem 8.125rem 9.5rem;
    }
    .titulo__banner{
        color: var(--low-pure);
        font-size: var(--font-xl);
        font-family: var(--heading-cabinet);

        margin: 0%;
    }
    .descricao__banner{
        font-size: 19px;
        font-family: var(--paragraph-satoshi);
        font-weight: 400;
        line-height: 140%;

        width: 29.063rem;
        
        margin: 0%;
        margin-top: 1rem;
    }
    .imagem__banner{
        width: 100vw;
        height: 46rem;
    }
    /*--------------------------SOBRE-PROJETO---------------------------*/
    .container__secoes-alinhadas{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .secao__sobre{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        justify-self: center;
        align-self: center;
        align-content: center;

        padding: 8.5rem 0rem 8.125rem 0rem;

        width: 79.2vw;
    }
    .container__titulo__sobre{
        width: 17.25rem;
    }
    .titulo__sobre{
        font-size: var(--font-sm);
        font-family: var(--heading-cabinet);
        margin-bottom: 1.563rem;
    }
    .subtitulo__mobile{
        display: none;
    }
    .link__sobre{
        font-size: var(--font-xs);
        font-family: var(--paragraph-satoshi);
        font-weight: 500;

        color: var(--low-pure);
        
        opacity: 0.7;

    }
    .descricao__sobre{
        font-size: 19px;
        font-family: var(--paragraph-satoshi);
        font-weight: 400;
        line-height: 140%;

        width: 39.063rem;
    }
    /*-----------------------NUMEROS-PROJETOS--------------------------*/
    .secao__numeros-projeto{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 79.2vw;

        padding: 0 0rem 8.125rem 0rem;
    }
    .titulo__numeros-projetos{
        font-size: var(--font-sm);
        font-family: var(--heading-cabinet);
        font-weight: var(--bold);

        align-self: flex-start;

        margin-top: 2rem;
        
    }
    .secao__numeros-projetos{
        display: flex;
        flex-direction: row;
        gap: 4.5rem;
    }

    .numero-projetos{
        font-size: var(--font-xl);
        font-family: var(--heading-cabinet);    
    }
    .descricao__numero-projetos{
        margin: 0%;

        font-family: var(--paragraph-satoshi);
        font-size: 16px;

        opacity: 0.7;
    }
    /*----------------------------DID------------------------*/
    .secao__did{
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 8.125rem;

        padding: 8.125rem 9.5rem 0 9.5rem;
    }
    .container__titulo___did{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        width: 79.2vw;
    }
    .titulo__did{
        font-size: var(--font-sm);
        font-family: var(--heading-cabinet);
        font-weight: var(--bold);
        color: var(--low-pure);

        margin-top: .5rem;
    }
    .lista__did{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        width: 49rem;
        height: 6rem;
    }
    .item__lista___did{
        font-size: 19px;
        font-family: var(--paragraph-satoshi);
        font-weight: 400;
        line-height: 140%;
        color: var(--low-pure);

        opacity: 0.7;

        list-style-type: disc;
    }
    .imagem__did{
        display: flex;
        align-self: center;

        padding-bottom: 8.125rem;
        border-bottom: 1px solid #C4C4C4;
    }
    /*---------------------------SOBRE-PROJETO--------------------------*/
    .secao__sobre-projeto{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8.125rem;

        padding: 8.125rem 9.5rem 0 9.5rem;
    }
    .container__titulo___sobre-projeto{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 79.2vw;

        align-items: flex-start;
    }
    .titulo__sobre-projeto{
        font-size: var(--font-sm);
        font-family: var(--heading-cabinet);
        font-weight: var(--bold);
        color: var(--low-pure); 
    }
    .descricao__sobre-projeto{
        margin: 0%;
        margin-right: 6.5rem;

        width: 34.938rem;

        font-size: 19px;
        font-family: var(--paragraph-satoshi);
        font-weight: 400;
        line-height: 140%;
        color: var(--low-pure);

        opacity: 0.7;
    }
    .imagem__sobre-projeto{
        display: flex;
        align-self: center;

        padding-bottom: 8.125rem;
    }
    /*--------------------------MENU-PRINCIPAL-------------------------*/
    .secao__menu-principal{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8.125rem;

        padding: 8.125rem 0 0 0;
    }
    .container__menu-principal-secao-2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 79.2vw;

        padding-left: 0;
        padding-right: 0;
    }

    .container__menu-principal{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 79.2vw;

        padding-left: 0;
        padding-right: 0;
    }
    .titulo__menu-principal{
        font-size: var(--font-sm);
        font-family: var(--heading-cabinet);
        font-weight: var(--bold);
        color: var(--low-pure); 
    }
    .descricao__menu-principal{
        margin: 0%;
        margin-right: 6.5rem;

        width: 34.938rem;

        font-size: 19px;
        font-family: var(--paragraph-satoshi);
        font-weight: 400;
        line-height: 140%;
        color: var(--low-pure);

        opacity: 0.7;
    }
    .imagem__menu-principal{
        display: flex;
        align-self: center;
    }
    /*------------------------------COMENTARIO-------------------------------*/
    .secao__comentarios{
        height: 57rem;

        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        padding-top: 15.938rem;
        padding-left: 9.5rem;
        padding-right: 9.5rem;
        background-color: var(--high-pure);
        
    }
    .cabecalho__comentarios{
        font-family: var(--heading-cabinet);
        font-weight: var(--bold);
        font-size: var(--font-xs);

        position: relative;
        bottom: -1rem;
    }
    .container__carousel{
        width: 79vw;
        height: 44rem;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .lista__comentarios{
        width: 237vw;
        height: 36rem;

        display: flex;
        flex-direction: row;
        overflow-x: hidden;

        transition: all .4s ease-out;
    }
    .item__lista___comentarios{
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin-bottom: 9.938rem;
    }
    .numeracao__comentario{
        align-self: flex-end;

        font-family: var(--heading-cabinet);
        font-weight: var(--bold);
        font-size: 16px;
    }
    .comentario{
        width: 79vw;

        padding-top: 3.5rem;
        padding-right: 23.417rem;
        margin-top: 5.688rem;
        margin-bottom: 3.5rem;
        
        font-family: var(--heading-cabinet);
        font-weight: var(--bold);
        font-size: var(--font-md);

        background-image: url("../../Assets/Home/aspas.png");
        background-repeat: no-repeat;     
    }
    .perfil__comentario{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
    .icone__perfil___comentario{
        width: 3.5rem;
        height: 3.5rem;
        border-radius: var(--border-circular);
    }
    .nome__perfil___comentario{
        font-family: var(--heading-cabinet);
        font-weight: var(--bold);
        font-size: var(--font-xs);
    }
    .descricao__perfil___comentario{
        font-family: var(--paragraph-satoshi);
        color: var(--low-medium);
        font-weight: var(--regular);
        margin-bottom: 0%;
        margin-top: 0%;
    }
    .container__botao___comentario{
        width: 79vw;
        
        display: flex;
        gap: 1rem;
    }
    .botao__anterior___comentario{
        width: 39.5vw;
        
        border: none;
        border-bottom: 2px solid var(--low-pure);
        
        padding-bottom: 2.208rem;

        background-color: transparent;
        background-image: url("../../Assets/Setas/Left.svg");
        background-repeat: no-repeat;

        transition: all .1s ease-in-out;
    }
    .botao__anterior___comentario:active{        
        transition: all .1s ease-in-out;

        transform: scaleX(0.98);

        border-bottom: 2px solid var(--high-pure);
    }
    .botao__proximo___comentario{
        width: 39.5vw;
        
        border: none;
        border-bottom: 2px solid var(--low-pure);
        
        padding-bottom: 1.656rem;

        background-color: transparent;
        background-image: url("../../Assets/Setas/Right.svg");
        background-repeat: no-repeat;
        background-position-x: right;
        transition: all .3s ease-in-out;
    }
    .botao__proximo___comentario:active{        
        transition: all .1s ease-in-out;

        transform: scaleX(0.98);

        border-bottom: 2px solid var(--high-pure);
    }
    /*-----------------------PROXIMO-PROJETO--------------------------*/
    .secao__proximo-projeto{
        display: flex;
        flex-direction: column;
        gap: 3.75rem;

        padding: 8.125rem 0 0 0;
    }
    .container__titulo___proximo-projeto{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        padding-left: 9.5rem;
        padding-right: 9.5rem;
    }
    .titulo__proximo-projeto{
        font-size: 16px;
        font-family: var(--heading-cabinet);
        font-weight: var(--bold);
        color: var(--low-pure);
    }
    .link__proximo-projeto{
        font-size: var(--font-sm);
        font-family: var(--heading-cabinet);
        font-weight: var(--bold);
        color: var(--low-pure);
    }
    .imagem__proximo-projeto{
        display: flex;
        align-self: center;
    }
    /*-------------------------------RODAPE--------------------------------*/
    .rodape{
        width: 100vw;
        background-color: var(--high-pure);
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 8.125rem;
    }
    .secao__info___rodape{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 25rem;

        padding-bottom: 10.813rem;

        border-bottom: 1px solid var(--low-medium);
    }
    .secao__titulo___rodape{
        width: 50vw;
        display: flex;
        flex-direction: column;

    }
    .titulo__rodape{
        font-family: var(--heading-cabinet);
        font-weight: var(--bold);
        font-size: var(--font-md);
        color: var(--low-pure);
    }
    #titulo__rodape-2{
        color: var(--low-light);
    }
    .container__botao-footer{
        padding-right: 3rem;
        padding-top: 0rem;
        display: flex;
        width: 17.625rem;
        justify-content: flex-start;
    }
    .container__botao-footer:hover .botao__talk___footer{
        color: var(--primary-pure);
        border-bottom: 2px solid var(--primary-medium);
        background-image: url("../../Assets/Setas/Right-Down-Red.svg");

        transition: all .2s ease-in-out;
    }
    .botao__talk___footer{
        color: var(--low-pure);
        font-family: var(--heading-cabinet);
        font-weight: var(--bold);

        background-image: url("../../Assets/Setas/Right-Down-Black.svg");
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: -.2rem;

        width: 14.625rem;
        margin-top: 2rem;
        padding-bottom: .5rem;

        border-bottom: 2px solid var(--low-pure);
    }
    .botao__talk___footer:hover{
        color: var(--primary-pure);
        border-bottom: 2px solid var(--primary-medium);
        background-image: url("../../Assets/Setas/Right-Down-Red.svg");

        transition: all .2s ease-in-out;
    }
    .redes__sociais___rodape{
        display: flex;
        align-items: center;
        gap: 2.813rem;   
    }
    .hashtag__footer{
        font-family: var(--heading-cabinet);
        font-weight: 500;
        color: var(--high-pure);
    }
    .patrocinadores__rodape{
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .abas__footer{
        display: flex;
        justify-content: center;
        padding-top: 6rem;
        padding-bottom: 1rem;
    }
    .container__abas{
        display: flex;
        flex-direction: row;
        gap: 10.313rem;
    }
    .aba{
        display: flex;
        flex-direction: column;
        height: 14.5rem;
        width: 8.5rem;
    }
    .titulo__aba{
        font-family: var(--paragraph-satoshi);
        font-weight: var(--bold);
        color: var(--low-pure);
        margin-bottom: 1.5rem;
    }
    .item__aba{
        font-family: var(--paragraph-satoshi);
        font-weight: var(--regular);
        color: var(--low-medium);
        margin-bottom: 1rem;
    
        transition: all .1s ease-in-out;
    }
    .item__aba:hover{
        color: var(--low-pure);
        transition: all .1s ease-in-out;    
    }
    .secao__brand{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 71rem;
        justify-content: space-between;
        
        font-family: var(--heading-cabinet);
        font-style: normal;
        font-weight: var(--bold);

        padding-top: 2.938rem;
        padding-bottom: 6.625rem;
    }
    .link__redes-sociais, .icone__redes{
        width: 1.5rem;
        height: 1.5rem;
    }
    .container__ico___redes-sociais-mobile{
        display: none;
    }
    .link__redes-sociais___mobile{
        display: none;
    }
}